<div class="centered-content">
    <div class="dashboard-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Banking
            </h1>
            <div class="list-menu">
                <a href="dashboard" class="list-menu-item ">
                    <p>Overview</p>
                </a>
                <a href="cards" class="list-menu-item is-active">
                    <p>Cards</p>
                </a>
                <a href="transactions" class="list-menu-item">
                    <p>Transactions</p>
                </a>
                <a class="list-menu-item">
                    <p>Balance</p>
                </a>
                <a class="list-menu-item">
                    <p>Direct Debits</p>
                </a>
            </div>
            <!-- Button to Add Card (test)-->
            <button class="button is-primary has-text-white" (click)="createCard(123)">New Card</button>
        </div>

        <div class="main">

            <h1 class="title has-text-primary">
                Card Information
            </h1>


            <div class="cardContainer">
               
                <div class="info cardContainerItem" *ngFor="let card of cards" > 

                    <p class="infoTitle"> 
                        <span style="color: rgb(163, 163, 163);">Card No:</span> {{ card.cardNo }}            
                    </p>
    
                   
    
                    <h3 class="infoTitle">Expiry / CVV</h3>
    
                    <p class="info-item"> 
                        Expiry: {{ card.expiry }}                    
                    </p>
                    <p class="info-item"> 
                        CVV: {{ card.cvv }}                    
                    </p>
    
                    <h3 class="infoTitle">Status</h3>
                    
                    <p class="info-item"> 
                        {{ card.status }}                    
                    </p>
    
                    <h3 class="infoTitle">Pincode</h3>
                    
                    <p class="info-item"> 
                        {{ card.pincode }}                    
                    </p>
                   
                    <button class="button is-primary has-text-white" >Delete Card</button>
                </div>
            
            
            </div>
            
           
          
        </div>

        
    </div>
</div>