<div class="centered-content">
    <div class="dashboard-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Banking
            </h1>
            <div class="list-menu">
                <a class="list-menu-item is-active">
                    <p>Overview</p>
                </a>
                <a class="list-menu-item">
                    <p>Cards</p>
                </a>
                <a class="list-menu-item">
                    <p>Transactions</p>
                </a>
                <a class="list-menu-item">
                    <p>Balance</p>
                </a>
                <a class="list-menu-item">
                    <p>Direct Debits</p>
                </a>
            </div>
            <button class="button is-primary has-text-white" (click)="createNewCustomer()">New Customer</button>
        </div>
        <div class="main">
            <h1 class="title has-text-primary">
                Main
            </h1>
          
        </div>
    </div>
</div>