<p>transactions works!</p>
<div class="centered-content">
    <div class="dashboard-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Banking
            </h1>
            <div class="list-menu">
                <a href="dashboard" class="list-menu-item ">
                    <p>Overview</p>
                </a>
                <a href="cards"class="list-menu-item ">
                    <p>Cards</p>
                </a>
                <a href="transactions" class="list-menu-item is-active">
                    <p>Transactions</p>
                </a>
                <a class="list-menu-item">
                    <p>Balance</p>
                </a>
                <a class="list-menu-item">
                    <p>Direct Debits</p>
                </a>

               
            </div>
            <!-- Button to Add Customer (test)-->
            <button class="button is-primary has-text-white" (click)="createNewTransaction('in', 300)">New Transaction</button>
        </div>
        <div class="main">
            <h1 class="title has-text-primary">
                Transactions Information
            </h1>
          
            <table id="transactions">
                <tr>
                  <th>Customer</th>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Amount</th>
                  <th>In or Out</th>
                </tr>
                <tr *ngFor="let transaction of transactions">
                  <td>{{transaction.customerId}}</td>
                  <td>{{transaction.title}}</td>
                  <td>{{transaction.date}}</td>
                  <td>{{transaction.type}}</td>
                  <td>{{transaction.amount}}</td>
                  <td>{{transaction.inOut}}</td>
                </tr>
                
              </table>
        </div>  
    </div>
</div>